.retangulo {
    
width: 100vw;
height: 120.32px;
left: 0px;
top: 0px;

background: #FF0800;
/* box-shadow: 9.62521px 0px 3.85009px rgba(0, 0, 0, 0.25); */
}
*{
    margin: 0;
    border: 0;
}
.bola {
    position: absolute;
width: 232.93px;
height: 232.93px;
left: -21px;
top: -71px;

background: #FFFFFF;
}