/* .retangulo {
    
/* width: 100vw; 
height: 120px;
left: 0px;
top: 0px;

background: #FF0800;
/* box-shadow: 9.62521px 0px 3.85009px rgba(0, 0, 0, 0.25); */

*{
    margin: 0;
    border: 0;
}
 img{
    width: 125px;
    height: auto;
    
}
.logo {
    border-radius:60% ;
}
.partesuperior {
    background-color: #FF0800;
    display:block;
    ;
    
}
